<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nice dark sign in form</title>
      <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1>Sign In Form</h1>
<div id="wrapper">
	<form id="signin" method="post" action="/login" autocomplete="off">
		<input type="text" name="name" placeholder="username" />
		<input type="password" name="password" placeholder="password" />
		<button type="submit">&#xf0da;</button>
	</form>
	<h1>Dont have an account?</h1>
	<a href="/" >Registration</a>
</div>
  
  
</body>
</html>
